body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 550px;
  background-color: #1b171e
}

h1 {
  color: white
}

h2{
  margin: 0;
  color: white
}

h3 {
  margin: 0;
  font-size: 16px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


